body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
  padding-top: 100px;
}

button {
  padding: 12px 18px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  background: #7b38f8;
}
